@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Exo+2:wght@300;500;700&family=Share+Tech+Mono&display=swap');

:root {
    --font-title : 'Orbitron',  sans-serif;
    --font-body  : 'Exo 2',      sans-serif;
    }

body {
    font-family: "Exo 2", sans-serif;
    background: linear-gradient(#282a36); 
    max-width: 800px; 
    margin: 2em auto; 
    line-height: 1.6;
    }

header, footer {
    text-align:center; 
    margin-bottom:2rem;
    }

.h2projects {
    font-size: 1.5em;
    text-align: left;
    color: #44475a;
    }  
    
h2 {
    font-size: 1.5em;
    text-align: center;
    color: #ff79c6;
    }    




nav a {
    margin:0 .5rem; 
    text-decoration:none; 
    color:#0066cc;
    }

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: transparent;
    position: relative;
    }

nav a:hover {text-decoration:underline;}


nav a:exp {
    font-variant-position: super;
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    background: #b5bac9;
    border-radius: 10px;
    
}

.project-footer {
    margin-bottom: 20px;
    padding: 20px;
    background: #6272a4;
    border-radius: 10px;
    text-align: center;
}

.picture_link {
    margin: 0 10px;
    display: inline-block;
}

.picture_link img {
    width: 70px;
    height: 70px;
}

.footer-img {
    width: 33px !important;
    height: 33px !important;
    margin: 0 10px;
}

.icon-img {
    width: 25px !important;
    height: 25px !important;
    vertical-align: top;
   

}

h1.openfw {
    text-align: center;
    font-size: 1.5em;
    color:#50fa7b;
    margin-top: 50px;
    margin-bottom: 50px;

}

.hyperlink {
    color: #282a36;
    text-decoration: none;
}